<div class="footer">
    <div class="text">
        <p>©2025 <br>by GTA Hobou</p>
    </div>  
    <div class="links">
        <a href="">Obchodní podmínky</a>
        <a href="">GDPR</a>
        <a href="">Reklamační řád</a>
        <a href="">Odstoupení od smlouvy</a>
        <a href="">Cookies</a>
    </div>
</div>
<style>
    body{
        background-color: #111;

    }

    p{
        color: #9C2D30;
        font-weight: lighter;
        text-align: center;
    }

    a{
        color: #9C2D30;
        font-size: 15px;
        font-weight: lighter;
    }

    .footer{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .links{
        display: flex;
        justify-content: space-evenly;
        width: 60%;
        margin-bottom: 20px;
    }
</style>