<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">

<div class="footer">
    <div class="text">
        <p>©2025 <br>by GTA Hobou</p>
    </div>  
    <div class="links">
        <a href="/obchodni-podminky">Obchodní podmínky</a>
        <a href="/gdpr">GDPR</a>
        <a href="/reklamacni-rad">Reklamační řád</a>

        <!-----
         <a href="">Odstoupení od smlouvy</a>
        <a href="">Cookies</a>
        --- -->
       
    </div>
</div>
<style>
    body{
        background-color: #111;
    }

    p{
        color: #9C2D30;
        font-weight: lighter;
        text-align: center;
        font-family: "Open Sans", sans-serif;
        font-size: 14px;
    }

    a{
        color: #9C2D30;
        font-size: 13px;
        font-weight: lighter;
        font-family: "Open Sans", sans-serif;
    }

    .footer{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .links{
        display: flex;
        justify-content: space-evenly;
        width: 60%;
        margin-bottom: 20px;
    }

    .text{
        display: flex;
        width: 60%;
        justify-content: center;
    }
</style>