---
import logo from '../img/logo_black.png';
import stars from '../img/gta_wanted.png';
---


<div class="navbar">
    <div class="navbar-left">
            <a href="/shop">SHOP</a>
            <a href="/music">MUSIC</a>
            <a href="/videos">VIDEOS</a>
            <a href="/shows">SHOWS</a>
            <a href="/gtavi">GTA VI</a>
    </div>
    <div class="navbar-logo">
        <a class="" href="/">
            <img class="logo" src={logo.src}>
        </a>
    </div>
    <div class="navbar-right">
        <img src={stars.src}>
        </div>
</div>
<style>
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    p {
        color: white;
    }

    a {
        color: #BB2B2E;
		font-family: "Anton", sans-serif;
        text-decoration: none;
        margin-right: 20px;
        font-size: 18px;
        font-weight: 400;
    }

    a:hover{
        opacity: 70%;
    }

    img{
        height: 30px;
    }

    .logo{
        height: 60px;
        display: flex;
        align-items: center;
    }

    .logo:hover {
        opacity: 70%;
        cursor: pointer;
    }

   .navbar {
        display: flex;
        position: sticky;
        top: 0;
        align-items: center;
        background-color: black;
        width: 100%;
        padding: 0px 40px;
    }

    .navbar-left {
        flex: 1; 
        display: flex;
        justify-content: flex-start;
    }

    .navbar-logo {
        display: flex;
        flex: 0; 
        align-items: center;
    }

    .navbar-right {
        flex: 1;
        display: flex;
        justify-content: flex-end; 
    }
</style>