<div class="navbar">
    <div class="navbar-left">
            <a href="">SHOP</a>
            <a href="">MUSIC</a>
            <a href="">VIDEOS</a>
            <a href="">SHOWS</a>
            <a href="">GTA VI</a>
    </div>
    <div class="navbar-logo">
        <img class="logo" src="https://static.wixstatic.com/media/be636c_ddb0105d760f45e9bbf14d902bb47c9a~mv2.png/v1/fill/w_136,h_136,al_c,q_85,usm_0.66_1.00_0.01,enc_avif,quality_auto/logo_wine.png" alt="">
    </div>
    <div class="navbar-right">
        <img src="https://static.wixstatic.com/media/be636c_51c8cf8381464e4f96ac1178de17c58b~mv2.png/v1/fill/w_324,h_62,al_c,q_85,usm_0.66_1.00_0.01,enc_avif,quality_auto/PikPng_edited_edited_edited.png" alt="">
        </div>
</div>
<style>
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    p {
        color: white;
    }

    a {
        color: #9C2D30;
		font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        text-decoration: none;
        margin-right: 20px;
        font-size: 20px;
    }

    img{
        height: 30px;
    }

    .logo{
        height: 70px;
        display: flex;
        align-items: center;
    }

   .navbar {
        display: flex;
        position: sticky;
        top: 0;
        align-items: center;
        background-color: black;
        width: 100%;
        padding: 0px 40px;
    }

    .navbar-left {
        flex: 1; 
        display: flex;
        justify-content: flex-start;
    }

    .navbar-logo {
        display: flex;
        flex: 0; 
        align-items: center;
    }

    .navbar-right {
        flex: 1;
        display: flex;
        justify-content: flex-end; 
    }
</style>