---
import Navigation from '../components/navbar.astro'
import Footer from '../components/footer.astro'
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Anton&display=swap" rel="stylesheet">
		<title>GTA Houbou</title>
	</head>
	<body>

        		<Navigation></Navigation>
                <div class="content">
                    <div class="poster">
                        <h2>GDPR</h2>
                        <div class="text">
                            <p>Informace o zpracování osobních údajů (GDPR)</p>
                            <div class="text2">
                                <p>Správce údajů: <br>Samuel Adámek <br>IČO: 21440468 <br>
                                Adresa: Bellova 376/21, Brno-Kohoutovice, 623 00 <br>
                                E-mail: info@gtahoubou.com</p>
                                <p>1. <u>Jaké údaje zpracovávám</u><br>
                                Jméno, adresa, e‑mail, telefon, údaje o objednávkách.</p>
                                <p>2. <u>Účel zpracování</u><br>
                                Vyřízení objednávky, komunikace, účetní povinnosti.</p>
                                <p>3. <u>Doba uchování</u><br>
                                Údaje uchovávám dle zákonných lhůt (cca 10 let).</p>
                                <p>4. <u>Předávání údajů</u><br>
                                Dopravcům a platebním službám.</p>
                                <p>5. <u>Práva zákazníka</u><br>
                                Přístup, oprava, výmaz, námitka, stížnost na ÚOOÚ.</p>
                                <p>Kontakt: info@gtahoubou.com</p>
                            </div>
                            
                        </div>
                    </div>
                </div>
                <Footer></Footer>
    </body>
</html>

<style>
	 *{
        margin: 0;
        padding: 0;
		box-sizing: border-box;
    }

	body {
		overflow-x: hidden;
	}

    h2 {
        font-weight: 400;
		font-size: 30px;
		color:#9C2D30 ;
		margin-bottom: 20px;
		font-family: "Anton", sans-serif;
    }

    p {
        font-family: "Anton", sans-serif;
        color:#9C2D30;
        margin-bottom: 20px;
        font-size: 15px;
    }

    .content {
        display: flex;
        justify-content: center;
        background-color: #111;
		min-height: 100vh; //91vh
	}
    
    .poster{
        align-items: center;     
        text-align: center; 
        width: 50%;
        padding: 40px;
    }

    .text{
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .text2 {
        text-align: start;
    }

</style>