---
import Navigation from '../components/navbar.astro'
import Footer from '../components/footer.astro'
import obrazek from '../img/show.png';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="logo_black.png" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Anton&display=swap" rel="stylesheet">
		<title>GTA Houbou</title>
	</head>
	<body>
		<Navigation></Navigation>
		<div class="content">
			<div class="poster">
						<h1>Flow Testing 3 Teaser</h1>
						<div class="video-container">
							<blockquote class="tiktok-embed" cite="https://www.tiktok.com/@gtahoubou/video/7631533235675155734" data-video-id="7631533235675155734" style="max-width: 605px;min-width: 325px;" > <section> <a target="_blank" title="@gtahoubou" href="https://www.tiktok.com/@gtahoubou?refer=embed">@gtahoubou</a> <a title="flowtesting3" target="_blank" href="https://www.tiktok.com/tag/flowtesting3?refer=embed">#flowtesting3</a>  produced by @blanc <a target="_blank" title="♬ původní zvuk - GTA Houbou" href="https://www.tiktok.com/music/původní-zvuk-7631533236098714390?refer=embed">♬ původní zvuk - GTA Houbou</a> </section> </blockquote> <script async src="https://www.tiktok.com/embed.js"></script>
						</div>
			</div>
		</div>
		<Footer></Footer>
	</body>
</html>

<style>
	 *{
        margin: 0;
        padding: 0;
		box-sizing: border-box;
    }

	body {
		overflow-x: hidden;
	}

	.anton-regular {
  font-family: "Anton", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.video-container {
    width: 325px; 
    height: 700px; 
    overflow: hidden;
    border-radius: 12px;
    margin: 0 auto;
}

.video-container iframe {
    margin-top: -80px;
}

	h1 {
		font-weight: 400;
		font-size: 40px;
		color:#9C2D30 ;
		margin-bottom: 10px;
		font-family: "Anton", sans-serif;
	}

	img {
		height: 500px;
		width: auto;
		margin-bottom: 10px;
	}

	.content {
		background-color: #111;
		min-height: 100vh; //91vh
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		padding: 40px 0;
	}

	.poster {
        display: flex;           
        flex-direction: column;  
        align-items: center;     
        text-align: center;
	}
</style>
