---
import Navigation from '../components/navbar.astro'
import Footer from '../components/footer.astro'
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Anton&display=swap" rel="stylesheet">
		<title>GTA Houbou</title>
	</head>
	<body>

        		<Navigation></Navigation>
                <div class="content">
                    <div class="poster">
                        <h2>REKLAMAČNÍ ŘÁD</h2>
                        <div class="text">
                            <p>Prodávající: <br>
                                Samuel Adámek, IČO: 21440468 <br>
                                Adresa: Bellova 376/21, Brno-Kohoutovice, 623 00 <br>
                                E-mail: info@gtahoubou.com</p>
                                <p>1. <u>Základní ustanovení</u><br>
                                    Kupující má právo reklamovat zboží, 
                                    které je vadné nebo neodpovídá popisu.</p>
                                <p>2. <u>Uplatnění reklamace</u><br>
                                Reklamaci lze podat e‑mailem. 
                                Uveďte číslo objednávky a popis vady.</p>
                                <p>3. <u>Odeslání zboží</u><br>
                                Zboží zašlete na uvedenou adresu prodávajícího.</p>
                                <p>4. <u>Lhůta pro vyřízení</u><br>
                                Reklamace bude vyřízena do 30 dnů.</p>
                                <p>5. <u>Informování zákazníka</u><br>
                                O výsledku reklamace budete informováni e‑mailem.</p>
                        </div>
                    </div>
                </div>
                <Footer></Footer>
    </body>
</html>

<style>
	 *{
        margin: 0;
        padding: 0;
		box-sizing: border-box;
    }

	body {
		overflow-x: hidden;
	}

    h2 {
        font-weight: 400;
		font-size: 30px;
		color:#9C2D30 ;
		margin-bottom: 20px;
		font-family: "Anton", sans-serif;
    }

    p {
        font-family: "Anton", sans-serif;
        color:#9C2D30;
        margin-bottom: 20px;
        font-size: 15px;
    }

    .content {
        display: flex;
        justify-content: center;
        background-color: #111;
		min-height: 80vh; //91vh
        max-height: 100vh;
	}
    
    .poster{
        align-items: center;     
        text-align: center; 
        width: 50%;
        padding: 40px;
    }

    .text{
        display: flex;
        flex-direction: column;
        text-align: start;
    }

</style>