---
import Navigation from '../components/navbar.astro'
import Footer from '../components/footer.astro'
import obrazek from '../img/kabinet.jpg';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="logo_black.png" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Anton&display=swap" rel="stylesheet">
		<title>GTA Houbou</title>
	</head>
	<body>
		<Navigation></Navigation>

		<div class="content">
			<div class="poster">
						<h3>Kabinet Múz, Sukova 49/4, Brno</h3>
                        <a href="https://www.kabinetmuz.cz/program/2026-02-27-gta-houbou-blanc-live-show-" target="_blank">
                        <img src={obrazek.src}>
                        </a>
                        <h3>27.2.2026, 20:00 open doors</h3>
			</div>
		</div>
        
		<Footer></Footer>		
	</body>
</html>

<style>
	 *{
        margin: 0;
        padding: 0;
		box-sizing: border-box;
    }

	body {
		overflow-x: hidden;
	}

	.anton-regular {
  font-family: "Anton", sans-serif;
  font-weight: 400;
  font-style: normal;
}


	h3 {
		font-weight: 400;
		font-size: 30px;
		color:#9C2D30 ;
		margin-bottom: 10px;
		font-family: "Anton", sans-serif;
	}

	img {
		height: 500px;
		width: auto;
		margin-bottom: 10px;
        transition: transform 0.3s ease-in-out;
	}

    img:hover {
        transform: scale(1.025);
    }

	.content {
		background-color: #111;
		min-height: 100vh; //91vh
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		padding: 40px 0;
	}

	.poster {
        display: flex;           
        flex-direction: column;  
        align-items: center;     
        text-align: center;
	}
</style>
